<div class="row mb-2">
  <div class="col">
    <button class="btn btn-primary float-right" (click)="getProducts()">
      Refresh products
    </button>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header">Products</div>
      <div class="card-body">
        <dx-data-grid
          id="gridContainer"
          [dataSource]="products"
          [showBorders]="true"
          [showColumnLines]="true"
          [showRowLines]="true"
          [columnHidingEnabled]="true"
        >
          <dxo-sorting mode="single"></dxo-sorting>
          <dxo-paging [pageSize]="10"></dxo-paging>
          <dxo-pager
            [allowedPageSizes]="[5, 10, 15, 30]"
            [showInfo]="true"
            [showNavigationButtons]="true"
            [showPageSizeSelector]="true"
            [visible]="true"
          >
          </dxo-pager>
          <dxo-search-panel
            [visible]="true"
            [width]="240"
            placeholder="Search..."
          ></dxo-search-panel>

          <dxi-column dataField="name" [hidingPriority]="10"></dxi-column>
          <dxi-column dataField="description" [hidingPriority]="0"></dxi-column>
          <dxi-column dataField="quantity" [hidingPriority]="9"></dxi-column>
        </dx-data-grid>
      </div>
    </div>
  </div>
</div>
